RAPIDAPI_KEY=your_rapidapi_key_here

DB_HOST=your_db_host
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_PORT=5432

# Optional pipeline controls
DELAY_AIRPORTS=DEL,BOM,BLR
DELAY_DAYS=1
